{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOGOS</title>
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/viewport.css' %}">
    <link rel="stylesheet" href="{% static 'css/all2.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %} ">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %} ">
    <link rel="script" href="{% static 'js/bootstrap.js' %}">
</head>
<body>
    <div class="banner">
        <img src="{% static 'img/Bogos_logo.png' %}" href="{% url 'home' %}" alt="banner" width="10%" height="10%">
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 8px">
            <ul class="nav navbar-nav mr-auto">
                <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/cart.png' %}" height="28px" width="36px">HOME</a>

                <a class="navbar-brand" href="{% url 'gs25' %}">GS25</a>
                <a class="navbar-brand" href="{% url 'cu' %}">CU</a>
                <a class="navbar-brand" href="{% url 'emart' %}">이마트24</a>
                <a class="navbar-brand" href="{% url 'ministop' %}">미니스톱</a>
                <a class="navbar-brand" href="{% url 'seven' %}">세븐일레븐</a>
                <a class="navbar-brand " href="/parsed_data/post">게시판</a>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">검색</button>
                    </form>
                </li>
                <li>
                    <a class="btn btn-primary" href="/parsed_data/login"  style="margin-left: 10px">로그인</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
<section class="container">
    <div id="blog">
        <div class="post">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">CU 편의점 행사 품목</h1>
                    <p class="lead">매월 새롭게 진행되는 다양한 행사상품으로 즐거움을 드립니다.</p>
                </div>
            </div>
            <section id="middle">
                <div class="tap-content">
                        {% for item in posts %}
                            <div class="card" style="width: 10rem; height: 18rem; display: inline-flex; margin: 3px;">
                                <img src="{{ item.prodImg }}" class="card-img-top" alt="...">
                                <div class="card-body" style="padding: 0.3rem">
                                    <p class="card-title" style="font-size: 0.8rem">{{ item.prodName }}</p>
                                    <p class="card-text" style="font-size: 0.9rem">{{ item.prodEventType }}</p>
                                    <p class="card-text"style="font-size: 0.9rem">{{ item.prodPrice }} 원</p>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </section>
            <div>
                <nav aria-label="Page navigation" style="margin: 1rem">
                    <ul class="pagination justify-content-center" >
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" style="color: #0f0f0f">
                                    <<<
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.previous_page_number }}" style="color: #0f0f0f">
                                    {{ posts.previous_page_number}}
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="#" style="color: #4b79ff">
                                {{ posts.number }}
                            </a>
                        </li>
                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}" style="color: #0f0f0f;">
                                    {{ posts.next_page_number }}
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.paginator.num_pages }}" style="color: #0f0f0f">
                                    >>>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>