{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOGOS</title>
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/viewport.css' %}">
    <link rel="stylesheet" href="{% static 'css/all2.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div class="banner">
        <a href="{% url 'home' %}"><img src="{% static 'img/Bogos_logo.png' %}" alt="banner" width="10%" height="10%"></a>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 8px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapsed navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'img/cart.png' %}" height="28px" width="36px">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'gs25' %}">GS25</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'cu' %}">CU</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'emart' %}">이마트24</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'ministop' %}">미니스톱</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'seven' %}">세븐일레븐</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand " href="/parsed_data/post">게시판</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">검색</button>
                </form>
                <a class="btn btn-primary mr-sm-2" href="/parsed_data/login" style="margin-left: 1rem">로그인</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="jumbotron d-none d-xl-block" style="margin-top: 1rem; margin-bottom: 1rem; margin-left: 4rem; margin-right: 4rem">
        <div class="container">
            <h1 class="display-4" align="center">주위에 있는 편의점을 찾아보세요!</h1>
            <p class="lead" align="center" style="color: #999999">매월 새롭게 진행되는 다양한 행사상품으로 즐거움을 드립니다.</p>
        </div>
    </div>
    </div>
    <div class="container" id="map" style="">
        <script>
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see the error "The Geolocation service
            // failed.", it means you probably did not give permission for the browser to
            // locate you.
            var map, infoWindow;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 35.143141, lng: 129.095182 },
                    zoom: 17
                });
                infoWindow = new google.maps.InfoWindow;

                var marker = new google.maps.Marker({
                    position: { lat: 35.137411, lng: 129.100943 },
                    map: map,
                    title: '7E',
                    label: '7E',
                });
                var marker = new google.maps.Marker({
                    position: { lat: 35.138823, lng: 129.101258 },
                    map: map,
                    title: 'CU',
                    label: 'CU',
                });
                var marker = new google.maps.Marker({
                    position: { lat: 35.137221, lng: 129.101369 },
                    map: map,
                    title: 'CU',
                    label: 'CU',
                });
                var marker = new google.maps.Marker({
                    position: { lat: 35.137598, lng: 129.102618 },
                    map: map,
                    title: 'MI',
                    label: 'MI',
                });
                var marker = new google.maps.Marker({
                    position: { lat: 35.136709, lng: 129.099026 },
                    map: map,
                    title: 'GS',
                    label: 'GS',
                });
                var marker = new google.maps.Marker({
                    position: { lat: 35.135911, lng: 129.097701 },
                    map: map,
                    title: 'GS',
                    label: 'GS',
                });
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        infoWindow.setPosition(pos);
                        infoWindow.setContent('현재위치');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArQ7b-ddANmqe9Qi3bhsoQtfeO9o4JKsw&callback=initMap">
            </script>
    </div>
<div class="container" style="margin-top: 2rem">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">홈페이지 바로가기</span>
        <a class="navbar-brand btn" href="http://gs25.gsretail.com/gscvs/ko/products/event-goods">GS25</a>
        <a class="navbar-brand" href="http://cu.bgfretail.com/event/plus.do?category=event&depth2=1&sf=N">CU</a>
        <a class="navbar-brand" href="https://www.emart24.co.kr/product/eventProduct.asp">이마트24</a>
        <a class="navbar-brand" href="https://www.ministop.co.kr/MiniStopHomePage/page/event/plus1.do">미니스톱</a>
        <a class="navbar-brand" href="http://www.7-eleven.co.kr/product/presentList.asp">세븐일레븐</a>
    </nav>
</div>
</body>