{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOGOS</title>
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/viewport.css' %}">
    <link rel="stylesheet" href="{% static 'css/all2.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="banner">
        <a href="{% url 'home' %}"><img src="{% static 'img/Bogos_logo.png' %}" alt="banner" width="10%" height="10%"></a>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 8px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapsed navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'img/cart.png' %}" height="28px" width="36px">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'gs25' %}">GS25</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'cu' %}">CU</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'emart' %}">이마트24</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'ministop' %}">미니스톱</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'seven' %}">세븐일레븐</a>
                    </li>
                    <li class="nav-item">
                    <a class="navbar-brand " href="/parsed_data/post">게시판</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">검색</button>
                </form>
                <a class="btn btn-primary mr-sm-2" href="/parsed_data/login" style="margin-left: 1rem">로그인</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <br><br>
        <ul class="mr-auto">
            <p>
                <img src="{% static 'img/signup_logo.png' %}" width="10%">
            </p>
            <a class="btn btn-dark mr-1" href="/accounts/signup">회원가입</a><br>
            {% if user.is_authenticated %}
            <a class="btn btn-warning" href="/accounts/logout">로그아웃</a>
            {{user.username}} 님이 로그인 중
            {% else %}
            로그인을 하시고 BOGOS의 더 많은 기능을 사용해보세요!<br>
            <a class="btn btn-danger" href="{% provider_login_url 'google' %}">구글 아이디로 로그인</a><br>
            {% endif %}
        </ul>
    </div>
<div class="container" style="margin-top: 2rem">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">홈페이지 바로가기</span>
        <a class="navbar-brand btn" href="http://gs25.gsretail.com/gscvs/ko/products/event-goods">GS25</a>
        <a class="navbar-brand" href="http://cu.bgfretail.com/event/plus.do?category=event&depth2=1&sf=N">CU</a>
        <a class="navbar-brand" href="https://www.emart24.co.kr/product/eventProduct.asp">이마트24</a>
        <a class="navbar-brand" href="https://www.ministop.co.kr/MiniStopHomePage/page/event/plus1.do">미니스톱</a>
        <a class="navbar-brand" href="http://www.7-eleven.co.kr/product/presentList.asp">세븐일레븐</a>
    </nav>
</div>
</body>