{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="container">
    <div id="blog">
        <div class="post">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">세븐일레븐 편의점 행사 품목</h1>
                    <p class="lead">매월 새롭게 진행되는 다양한 행사상품으로 즐거움을 드립니다.</p>
                </div>
            </div>
            <section id="middle">
                <div class="tap-content">
                        {% for item in posts %}
                            <div class="card" style="width: 10rem; height: 18rem; display: inline-flex; margin: 3px;">
                                <img src="{{ item.prodImg }}" class="card-img-top" alt="..." style="height: 9rem; width: content-box ">
                                <div class="card-body" style="padding: 0.3rem">
                                    <p class="card-title" style="font-size: 0.8rem">{{ item.prodName }}</p>
                                    <p class="card-text" style="font-size: 0.9rem">{{ item.prodEventType }}</p>
                                    <p class="card-text"style="font-size: 0.9rem">{{ item.prodPrice }} 원</p>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </section>
            <div>
                <nav aria-label="Page navigation" style="margin: 1rem">
                    <ul class="pagination justify-content-center" >
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" style="color: #0f0f0f">
                                    <<<
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.previous_page_number }}" style="color: #0f0f0f">
                                    {{ posts.previous_page_number}}
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="#" style="color: #4b79ff">
                                {{ posts.number }}
                            </a>
                        </li>
                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}" style="color: #0f0f0f;">
                                    {{ posts.next_page_number }}
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.paginator.num_pages }}" style="color: #0f0f0f">
                                    >>>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}
